*{	margin: 0;
	padding: 0;
	font-family: 'Krona One', sans-serif;
}


html, body {
    height: 100%;
    margin: 0%;
    background: url(m.jpg);
}

.container {
    height: 90%;
    width: 100%;
}

#title {
    font-size: 4vh;
    font-size: 4vw;
    text-align: center;

}


.choice {
    font-size: 2vh;
    font-size: 2vw;
    height: 25%;
    width: 30%;
    margin-top: 4%;
    margin-right: 6%;
    margin-left: 11%;
    border-radius: 5%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.choice:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

footer{
	clear: both;
	text-align: center;
	font-size: 2vh;
    font-size: 2vw;
}