*{	margin: 0;
    padding: 0;
    font-family: 'Krona One', sans-serif;
}

body {
    height: 125%;
    width: 100%;
    margin: 0;
    padding:0;
    background: url(m.jpg);
}


.container {
    height: 100%;
    width: 100%;


} 

#title {

    font-size: 4vh;
    text-align: center;
    padding-bottom: 3%;
    margin: 0 auto;

}

#return {
    text-align: center;
    color: black;
    font-size: 3vh;
    width:  80%;
    height:  40%;
    margin: 0 auto;
    border-radius: 5%;
    display:block;

}

footer{
    clear: both;
    text-align: center;
    font-size: 2vh;
}