*{	margin: 0;
    padding: 0;
    font-family: 'Krona One', sans-serif;
}
body {
    height: 90%;
    letter-spacing: 0.1vw;
    background: url(m.jpg);
}
#wrapper{
    margin: 0.5%;
}
header {
    text-align: center;
    margin-top: 1%;
    font-size: 5vh;


}
h3 {
    text-align: center;
    font-size: 100%;
}
section{
    text-align: center;
    width: 100%;
    height: 80%;
    float: left;
    margin: 0.5% 0.5% 0.5% 0%;
}
article{

    padding: 5%;
    overflow: inherit;
    font-size: 3vh;
    text-align: justify;
}
aside{
    text-align: center;
    width: 100%;
    height: 80%;

    margin: 0.5% 0% 0.5% 0.5%;

}
form {
    margin: 8%;
    padding-bottom: 25%;
    font-size: 260%;

}
.frame {
    margin-top: 6%;
    margin-bottom: 6%;
    text-align: center;
    height: 50%;
    width: 100%;
    font-size: 2vh;
    font-size: 2vw;
}
#returnBtn {
    font-size: 50%;
    float: left;
    height: 40px;
    width: 45%;
    margin-top: 4%;
    margin-right: 5%;
    margin-left: 0;
    border-radius: 5%;
    cursor: pointer;
}

#submit {
    font-size: 50%;
    float: right;
    height: 40px;
    width: 45%;
    margin-top: 4%;
    margin-right: 0;
    margin-left: 5%;
    border-radius: 5%;
    cursor: pointer;


}

label, input{
    display:block;
    margin: 0 auto;
    text-align: center;
    padding: 0.5%
}
footer{
    margin-top: 12%;
    clear: both;
    text-align: center;
    font-size: 2vw;
}
header, section, article, aside, footer {
    display:block;
    border-radius: 2%;

}