<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Metoda na Koda - Create Account</title>
    <link rel="stylesheet" type="text/css" href="CreateAccountStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">    
    
    <script type="text/javascript">

  
  if(!RegExp.escape) {
    RegExp.escape = function(s) {
      return String(s).replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
    };
  }

</script>
</head>
<body>

<div class="container">


    <div class="login">
        <h1>Rejestracja Użytkownika</h1>
        <form method="post" th:action="@{/add}">
            <p><input class="frame" type="text" th:field="${user.login}" placeholder="Login"></p>
            <p><input class="frame" type="password"  th:field="${user.pass}" placeholder="Hasło (min. 4 znaki)" required pattern=".{4,}" name="pwd1" onchange="form.pwd2.pattern = RegExp.escape(this.value)"></p>
            <p><input class="frame" type="password"  placeholder="Powtórz Hasło" required name="pwd2" title="- podane hasła nie są zgodne."></p>
            <div>
                <p><input id="returnBtn" type="button" onclick="location.href='/metodaNaKoda'" value="Powrót"></p>
                <p><input id="submit" type="submit" value="Zarejestruj"></p>
            </div>
        </form>
    </div>
    
    
    

</div>

	<footer>
		<p>Copyright &copy 2018 Zolech & Rotnicki</p>
	</footer>

</body>
</html>