<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Metoda na Koda - Java Postępy</title>
    <link rel="stylesheet" type="text/css" href="ProgressStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container-fluid" style="height: 95%;">

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <header>
                <h1 id="title">Java - postępy</h1>
            </header>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6" >
            <canvas id="myCanvas" width="510%" height="500%" style="border:0 solid #000000; margin: 5% auto;"></canvas>
        </div>
        <div class="col-sm-6" >
            <canvas id="myCanvas2" width="510%" height="500%" style="border:0 solid #000000; margin: 5% auto; "></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button id="return" class="btn btn-lg" onclick="location.href='/Java'">Powrót</button>
        </div>
    </div>
    
    <p style="display: none" id="one" th:text="${prog1}"></p>
    <p style="display: none" id="two" th:text="${prog2}"></p>



    <script>

    var x = document.getElementById("one").innerHTML;
    var y = document.getElementById("two").innerHTML;

        function roud () {

            var canvas = document.getElementById('myCanvas');
            var ctx = canvas.getContext('2d');

            var r = 1;

            var f = true;
			if(y!=0){
            var k = setInterval(cir, 10);
			}
            ctx.beginPath();
            ctx.arc(300,250,200,0,2*Math.PI);
            ctx.fillStyle = "red"
            ctx.fill();
            ctx.stroke();


            function cir(){
                if (f === true) {
                    ctx.beginPath();
                    ctx.arc(300,250,r,0,2*Math.PI);
                    ctx.fillStyle = "darkgreen"
                    ctx.fill();
                    ctx.stroke();
                    r++;
                    if (r === y*2) {
                        f = false;
                    }
                }

            }

            ctx.font = "30px Arial";
            ctx.fillStyle = "black";
            ctx.textAlign="center";
            ctx.fillText("Pytania rekrutacyjne - "+y+"%",300,30);


        }
        roud();

        function roud2 () {

            var canvas = document.getElementById('myCanvas2');
            var ctx = canvas.getContext('2d');

            var r = 1;

            var f = true;

            if(x!=0){
            var k = setInterval(cir, 10);
            }
   

            ctx.beginPath();
            ctx.arc(300,250,200,0,2*Math.PI);
            ctx.fillStyle = "red"
            ctx.fill();
            ctx.stroke();


            function cir(){
                if (f === true) {
                    ctx.beginPath();
                    ctx.arc(300,250,r,0,2*Math.PI);
                    ctx.fillStyle = "darkgreen"
                    ctx.fill();
                    ctx.stroke();
                    r++;
                    if (r === x*2) {
                        f = false;
                    }
                }

            }

            ctx.font = "30px Arial";
            ctx.fillStyle = "black";
            ctx.textAlign="center";
            ctx.fillText("Metody - "+x+"%",300,30)

        }
        roud2();


    </script>



</div>

</div>

<footer>
    <p>Copyright &copy 2018 Zolech & Rotnicki</p>
</footer>

</body>
</html>