<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Metoda na Koda - JavaMenu</title>
    <link rel="stylesheet" type="text/css" href="LangMenuStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
</head>
<body>

<div class="container">

    <header>
        <h1 id="title">Java</h1>
    </header>

	<input type="button" value="Metody" onclick="location.href='/metodaNaKoda/JavaFiszka?category=JM'" class="choice" />
	<input type="button" value="Pytania rekrutacyjne" onclick="location.href='/metodaNaKoda/JavaFiszka?category=JQ'" class="choice" />
	<input type="button" value="Powrót do wyboru języka" onclick="location.href='/metodaNaKoda/LangChoice'" class="choice" />
	<input type="button" value="Postęp" onclick="location.href='/metodaNaKoda/JavaProgress'" class="choice" />

</div>

<footer>
		<p>Copyright &copy 2018 Zolech & Rotnicki</p>
	</footer>

</body>
</html>