<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Metoda na Koda - LangChoice</title>
    <link rel="stylesheet" type="text/css" href="LangChoiceStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">


    <div class="row">
        <div class="col-sm-12">
            <button id="logoutBtn" onclick="location.href='/logout'">Wyloguj</button>
            <header>
                <h1 id="greet">Witaj <span th:text="${user.login}"></span>! Owocnej Nauki!</h1>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a href="Java"><button class="langChoice">Java</button></a>
        </div>
        <div class="col-sm-6">
            <a href="MySQL"><button class="langChoice">MySQL</button></a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <a href="Python"><button class="langChoice">Python</button></a>
        </div>
        <div class="col-sm-6">
            <a href="JavaScript"><button class="langChoice">JavaScript</button></a>
        </div>
    </div>


</div>
<footer>
    <p>Copyright &copy 2018 Zolech & Rotnicki</p>
</footer>
</body>
</html>