<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="pl-PL"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset='UTF-8'>
<title>Logowanie</title>
<link rel="stylesheet" type="text/css" href="loginStyle.css">
<link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div id="container">
		<div class="row">
			<div class="col-sm-12">
				<header> Metoda Na Koda </header>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				<section>
					<article>
						<p>"Metoda na Koda" to aplikacja, która powstała zmyślą o tych,
							którzy chcą nauczyć się podstaw teoretycznych z wybranych języków
							programowania. Każdy z języków podzielony jest na dwie kategorie
							pytania rekrutacyjne oraz metody. Aplikacja jest w fazie rozwoju
							dlatego też na ten moment możemy uczyć się przy jej pomocy
							jedynie JAVY. Z czasem baza pytań zostanie powiększona o
							technologię takie jak: MYSQL, PYTHONA i JAVASCRIPT.

						</p>
					</article>
				</section>
			</div>

			<div class="col-sm-4">
				<aside>
					<form method="post" th:action="@{/login}">
						<h3>Logowanie i rejestracja</h3>
						<p>
							<input class="frame" type="text" name="login" value="" placeholder="Login" required>
						</p>
						<p>
							<input class="frame" id="password" type="password" name="pass"
								value="" placeholder="Hasło" required>
						</p>
						<div>
							<p>
								<input id="returnBtn" type="button"
									onclick="location.href='/CreateAccount'" value="Rejestracja">
							</p>
							<p>
								<input id="submit" type="submit" value="Zaloguj">
							</p>
						</div>
					</form>
						<div th:if="${param.error}" class="alert alert-error">
						<script>
							alert("Wpisałeś niepoprawny login lub hasło.");
						</script></div>
					<div th:if="${param.added}" class="alert alert-success"
						style="text-align: center;">
						<script>
							alert("Twoje konto zostało zarejestrowane.");
						</script>
					</div>
				</aside>
			</div>
	<footer>
		<p>Copyright &copy 2018 Zolech & Rotnicki</p>
	</footer>


	</div>
</div>

</body>
</html>