<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metoda na Koda - MySQL Postępy</title>
    <link rel="stylesheet" type="text/css" href="ProgressStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">


</head>
<body>

<div class="container">

    <header>
        <h1 id="title">MySQL - postępy</h1>
    </header>



    <canvas id="myCanvas" width="600%" height="500%" style="border:0px solid #000000; margin-left: 8%; margin-right: 8%; margin-top: 1%">
    </canvas>
    <canvas id="myCanvas2" width="600%" height="500%" style="border:0px solid #000000; margin-left: 8%; margin-right: 8%; margin-top: 1%; float: right">
    </canvas>

    <a href = "Java"><button id="return">Powrót</button></a>

    <footer>
        <p>Copyright &copy 2018 Zolech & Rotnicki</p>
    </footer>

    <script>


        function roud () {

            var canvas = document.getElementById('myCanvas');
            var ctx = canvas.getContext('2d');

            var r = 1;

            var f = true;

            var k = setInterval(cir, 10);

            ctx.beginPath();
            ctx.arc(300,250,200,0,2*Math.PI);
            ctx.fillStyle = "red"
            ctx.fill();
            ctx.stroke();


            function cir(){
                if (f === true) {
                    ctx.beginPath();
                    ctx.arc(300,250,r,0,2*Math.PI);
                    ctx.fillStyle = "darkgreen"
                    ctx.fill();
                    ctx.stroke();
                    r++;
                    if (r == 160) {
                        f = false;
                    }
                }

            }

            ctx.font = "30px Arial";
            ctx.fillStyle = "black";
            ctx.textAlign="center";
            ctx.fillText("Pytania rekrutacyjne - 80%",300,30);


        }
        roud();

        function roud2 () {

            var canvas = document.getElementById('myCanvas2');
            var ctx = canvas.getContext('2d');

            var r = 1;

            var f = true;

            var k = setInterval(cir, 10);

            ctx.beginPath();
            ctx.arc(300,250,200,0,2*Math.PI);
            ctx.fillStyle = "red"
            ctx.fill();
            ctx.stroke();


            function cir(){
                if (f === true) {
                    ctx.beginPath();
                    ctx.arc(300,250,r,0,2*Math.PI);
                    ctx.fillStyle = "darkgreen"
                    ctx.fill();
                    ctx.stroke();
                    r++;
                    if (r == 80) {
                        f = false;
                    }
                }

            }

            ctx.font = "30px Arial";
            ctx.fillStyle = "black";
            ctx.textAlign="center";
            ctx.fillText("Metody - 40%",300,30)

        }
        roud2();


    </script>



</div>



</body>
</html>