<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset='UTF-8'>
    <title>MySQL - Fiszka</title>
    <link rel="stylesheet" type="text/css" href="styleFiszka.css">
    <link href="https://fonts.googleapis.com/css?family=Krona+One" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        function flip() {
            $('.karta').toggleClass('flipped');
            }


    </script>
</head>
<body>
<div class='back'><a href="MySQL"><button id="back">Powrót</button></a></div>
<div class='content'>
    <section class="container">
        <div class="karta" onclick="flip()">
            <div id='question'>
                Bardzo trudne pytanie zassrudne pytanie zassysane z bazy
                Bardzo trudne pytanie zassrudne pytanie zassysane z bazy
                Bardzo trudne pytanie zassrudne pytanie zassysane z bazy
                Bardzo trudne pytanie zassrudne pytanie zassysane z bazy

            </div>
            <div id='answer'>
                Odpowiedź na bardzi trudne pytanie zassysane z bazy
            </div>
        </div>
    </section>


    <div class='button'>
        <input type='button' id="unknown" value="nie umiem">
        <input type='button' id="look" value="sprawdź odpowiedź" onclick="flip();">
        <input type='button' id="known" value="umiem">
    </div>
</div>

<footer>
    <p>Copyright &copy 2018 Zolech & Rotnicki</p>
</footer>
</body>
</html>